Keras
Pillow
PyQt5
PyYAML
Scrapy
beautifulsoup4
celery
cython
django
flask
graphviz
ipython
jupyter
lxml
matplotlib
nltk
nose
numpy
opencv-python
pandas
pymorphy2
pytest
requests
scipy
scrapy
sklearn
sqlalchemy
tensorflow
tqdm
virtualenv
